.blue_box {
    background: #FFFFFF;
    border: 4px solid rgba(0, 148, 255, 1);
    box-sizing: border-box;
    border-radius: 40px;
    width: 10%;
    padding: 15px;
}

.blue_box .first_row {
    height: 50%;
}

.blue_box .first_row .image {
    padding: 15px;
    float: left;
}

.blue_box .first_row .title {
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    float: left;
    display: inline;
}

.blue_box .second_row {
    display: block;
}

.blue_box .second_row .hours_number {
    color: rgba(0, 52, 89, 1);
    float: right;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    float: right;
}

.blue_box .second_row .type {
    float: left;
}

.blue_box .second_row .type .courseType_part1 {
    color: rgba(124, 124, 124, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    padding-top: 4%;
    margin-bottom: 3%;
    text-align: left;
}

.blue_box .second_row .type .courseType_part2 {
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
}