.blue_box {
    background: #FFFFFF;
    border: 4px solid rgba(0, 148, 255, 1);
    box-sizing: border-box;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 236px;
    width: 269px;
    left: 305px;
    top: 0px;
    border-radius: 40px;
    padding: 30px;
}

.image {
    grid-column: 1;
    grid-row: 1;
    padding: 15px;
}

.title {
    grid-column: 2;
    grid-row: 1;
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    float: left;
}

.hours_number {
    color: rgba(0, 52, 89, 1);
    float: right;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.courseType_part1 {
    color: rgba(124, 124, 124, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    grid-column: 1;
    grid-row: 2;
    margin: 0px;
}

.courseType_part2 {
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    grid-column: 1;
    grid-row: 2;
}