.box {
    background: #FFFFFF;
    border: 4px solid rgba(230, 230, 230, 1);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.box .green {
    border: 4px solid #02C39A;
    height: 74px;
    width: 221px;
    left: 0px;
    top: 0px;
    border-radius: 40px;
    padding: 20px, 40px, 20px, 40px;
    text-align: center;
}

.box .blue {
    border: 4px solid rgba(0, 148, 255, 1);
    height: 74px;
    width: 329px;
    left: 459px;
    top: 0px;
    border-radius: 40px;
    padding: 20px, 40px, 20px, 40px;
    text-align: center;
}

.box .orange {
    border: 4px solid rgba(255, 131, 100, 1);
    height: 74px;
    width: 190px;
    left: 245px;
    top: 0px;
    border-radius: 40px;
    padding: 20px, 40px, 20px, 40px;
    text-align: center;
}

.box .text {
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    float: unset;
}