.App-header {
    display: inline-block;
    justify-content: space-between;
}

.App-header .logo {
    display: inline;
}

.App-header .text {
    float: right;
    display: inline;
    text-align: right;
    color: rgba(51, 53, 139, 1);
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
}