.roadmap {
    width: 100%;
}

header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.roadmap .roadmap_root {
    width: 25%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.roadmap .down_arrow {
    margin-top: 1%;
    margin-bottom: 1%;
}

.roadmap .left_arrow {
    margin-top: auto;
    margin-bottom: auto;
}

.roadmap .level1 {
    display: flex;
    gap: 65px;
    justify-content: center;
}

.roadmap .level2 {
    display: flex;
    justify-content: center;
}

.roadmap .level3 {
    display: flex;
    justify-content: center;
}

.roadmap .additionals {
    align-items: center;
    justify-content: center;
}

.roadmap .additionals_part1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.roadmap .additionals_part2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.roadmap .additionals_part1 .image1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.roadmap .additionals_part1 .image2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.roadmap .additionals_part1 .text {
    display: flex;
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
}

.roadmap .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}