.roadmap {
    margin-right: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(8, auto);
}

.header {
    grid-column: 1/4;
    grid-row: 1;
}

.roadmap_root {
    grid-column: 1/4;
    grid-row: 2;
    justify-self: center;
}

.down_arrow1 {
    grid-column: 1/4;
    grid-row: 3;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.down_arrow2 {
    grid-column: 1/4;
    grid-row: 5;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.down_arrow3 {
    grid-column: 1/4;
    grid-row: 7;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.level1 {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    gap: 4%;
}

.level1_col1 {
    grid-row: 4;
    justify-self: center;
    /*display: contents;*/
    width: 80%;
}

.level1_col2 {
    grid-row: 4;
    justify-self: center;
    align-self: center;
}

.level1_col3 {
    grid-row: 4;
    justify-self: center;
    /*display: contents;*/
    width: 80%;
}

.level2 {
    grid-column: 1/4;
    grid-row: 6;
    justify-self: center;
    width: 25%;
}

.level3 {
    grid-column: 1/4;
    grid-row: 8;
    justify-self: center;
    width: 25%;
}

.additionals {
    grid-row: 9;
    grid-column: 1/4;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.additionals_part1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.additionals_part2 {
    display: flex;
    gap: 2%;
    justify-content: center;
    place-items: center;
}

.additionals_part1 .image1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.additionals_part1 .image2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.additionals_part1 .text {
    display: flex;
    color: rgba(0, 52, 89, 1);
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
}

.footer {
    grid-row: 10;
    grid-column: 2;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}